<h1>Sign in</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>

    <div class="field">
            <%= f.label :email, "E-post" %><br/>
            <%= f.text_field :email %>
    </div>
    <div class="field">
            <%= f.label :password,"Passord" %><br/>
            <%= f.password_field :password %>
    </div>
    <div class="actions">
        <%= f.submit "Logg inn" %>
    </div>

<% end %>

<p>Ny bruker? <%= link_to "Registrer deg nå!", signup_path %></p>
