<h1>Registrer deg</h1>

<%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
    <div class="field">
        <%= f.label :name, "Fornavn" %><br/>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :lastname, "Etternavn" %><br/>
        <%= f.text_field :lastname %>
    </div>

    <div class="field">
        <%= f.label :email, "E-post" %><br/>
        <%= f.text_field :email %>
    </div>

    <div class="field">
        <%= f.label :password, "Passord" %><br/>
        <%= f.password_field :password %>
    </div>

    <div class="field">
        <%= f.label :password_confirmation, "Bekreft passord" %><br/>
        <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions">
        <%= f.submit "Sign up" %>
    </div>
<% end %>

