<!DOCTYPE html>
 <html>
<%= render 'layouts/header' %>

 <body>
    <div class="container">
      <header>
        <%= image_tag("logo.png", :alt => "Sample app", :class => "round")%>
        <nav class="round">
          <ul>
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#'%></li>
            <li><%= link_to "Sign inn", '#'%></li>
          </ul>
        </nav>
      </header>
      <section class="round">
         <%= yield %>
      </section>
            <%= render 'layouts/footer' %>
    </div>
</body>
 </html>