<!DOCTYPE html>
 <html>
<%= render 'layouts/header' %>

 <body>
    <div class="container">
      <header>
        <%= link_to logo, root_path%>
        <nav class="round">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Sign inn", '#'%></li>
          </ul>
        </nav>
      </header>
      <section class="round">
         <%= yield %>
      </section>
            <%= render 'layouts/footer' %>
    </div>
</body>
 </html>